#header {
    background-color: white;
    opacity: 90%;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    font-size: 1.2em;
    color:#d0637c;
}
table {
    margin-top: 120px;
    background-color: white;
    opacity: 90%;
    text-align: center;
    margin-left: none;
    left: 0px;
    width: 80%;
    font-size: 1.2em;
    color:#d0637c;
}
#footer {
    padding: 25px 5;
    background-color: white;
    opacity: 70%;
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
    font-size: 1.2em;
    color:#d0637c;
}
a{
    color:#d0637c;
    text-decoration: none;
}
a:hover{
    color:#dd868c;
}
html {
    background-image: url(index_backg_portrait.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
    table{
        margin-top: 100px;
        margin-left: 12%;
    }
  html {
        background-image: url(index_backg_portrait.jpg);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }

}
@media screen and (min-width: 1025px) {
    table{
        margin-top: 120px;
        margin-left: 12%;
    }
  html {
        background-image: url(index_background.jpg);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}